////
/// @group 顏色定義
////

// color variables
$white: #fff;
//$overview-bg-white: #F9F9F9;
$lightest-white: #f6f6f6;
//$lighter-white: #f5f7f9;
$medium-white: #e9e9e9;
$content-bg: #f3f3f7; /// 內容區塊底色
$content-wrap-border-color: #e7e7e7;/// 內容區塊邊線顏色
//$disable-white: #eee;
$lighting-white: #e5e5e5;
$deep-white: #f2f2f2;
$dark-white: #ccc;
$darker-white: #cecece;
$lightest-gray: #f0f0f0;
//$lighter-gray: #e0e0e0;
$light-grey: #ddd;
$medium-gray: #c1c1c1;
//$light-white: #c2c2c2;
$light-medium-gray: #c5c5c5;
$deep-grey: #bababa;
$question-grey: #cacbcb;
$grey: #c9c9c9;
$disable-grey:#a9a9a9;
$gray-bg: #f5f5f5; /// 灰色背景色
$tootip-background-color: #656566;
$dark-grey: #666;
$dark-black: #717171;
$light-black: #767676;
$medium-black: #787878;
$darker-grey: #333;
$black: #000;
$lightest-blue: #D0DCE6;
$lighter-blue: #A2BEDD;
$light-blue: #65b2f4;
$blue: #469be5;
$grayer-blue: #4b7895;
$deep-blue: #227ac5;
$deeper-blue: #1E5172;
//$dark-blue: #021a40;
$light-green: #65c965;
$green: #71c171;
$deep-green: #4aad4a;
$red: #dc1818;
//$even-lighter-red: #FF7B7B;
//$lighter-red: #ce8483;
$light-red: #ff655d;
//$loading-red: #E42511;
$orange: #ff9933;
$disabled-gray:#bdbdbd;

/// 91APP LOGO 紅色
$logo-red-color: #e32412;
/// 系統名稱顏色 (ex crm, osm logo字)
$logo-system-color: #bbbcbc;
/// 刪除連結顏色
$delete-link-color: #f44545;
/// 刪除連結所帶icon顏色
$delete-link-icon-color: #FF6D6D;

/// 錯誤訊息顏色
$error-message-color: #E33D26;
/// 刪除按鈕hover顏色
$btn-delete-hover:#E85048;
/// 第二階刪除按鈕hover顏色
$sub-btn-delete-hover:#FF7561;
/// 注意顏色
$text-emphasis:#F75252;

/// 連結藍色
$link-blue: #428BCA;
/// 連結hover藍色
$link-hover-blue: #7EBAE3;
/// 麵包屑連結藍色
$breadcrumb-link-blue: #1873c1;

// header
/// top bar 文字 icon 顏色
$topbar-color: $white;
$topbar-divider: #e0e0e0;
/// 91app訊息圓點底色
$bell-message: $light-red;

// 表格
/// 表格表頭顏色
$table-header-color:#545f6a;
/// 表格表頭背景顏色
$table-header-bg-color:#e3ecf6;
/// 表格邊線顏色
$table-border-color: #d0d0d0;
// 表格背景色
$td-bg-color: #F2F7FB;
// 奇數行表格背景色
$tr-odd-bg-color: #f5faff;
/// 表格 item 邊線顏色
$table-item-border-color: #c6d0db;
/// 表格群組表格 th 背景色
$grouped-header-bg-color: #A1ACBA;
/// 最後一筆背景顏色 （如報表最後一行)
$grouped-footer-bg-color: #F6F9Fc;
/// 最後一筆顏色 （如報表最後一行)
$grouped-footer-color: #677888;
/// 整個表格的動作 (如本頁全選)
$header-action-bg-color: #cdd9e8;

/// panel框線顏色
$panel-border-color: $lightest-gray;

/// panel heading文字顏色
$panel-heading-color: #5E6C7A;

/// panel heading底色
$panel-heading-bg: #F4FAFF;

/// new window footer底色, action-container 底色
$new-window-footer:#E8EEF4;

/// new window copyright顏色
$new-window-copyright: #ABABAB;

/// new window desc-color顏色
$new-window-search-desc-color: #549AE3;

/// 文字顏色
$text-deep-color:#999999;

/// 文字顏色
$text-dark-color:#595959;

/// 頁面標題文字顏色
$text-page-title-color:#959595;

/// explain-block 文字顏色
$explain-block-text-color: #768FAA;

/// explain-block 邊線顏色
$explain-block-border-color: #E3ECF6;

/// notification 顏色
$notification-color: #BFBCBC;

/// notification 陰影色
$notification-shadow-color: #b2b2b2;

/// 報表group按鈕 hover 顏色
$group-btn-hover-bg-color: #E5F3FF;

/// 報表group按鈕邊線色
$group-btn-border-color: #e4e4e4;

/// 圖片上傳 按鈕 顏色
$upload-btn-bg-color: #f4f4f4;
/// 圖片上傳 按鈕 邊線顏色
$upload-btn-border-color: #cfcfcf;

///placeholder 顏色
$input-placeholder-color: #BCBCBC;

// 商店顏色定義 11色
/// 商店顏色定義 黑色
$shop-color-black: #595959;
/// 商店顏色定義 藍色
$shop-color-blue: #129CD5;
/// 商店顏色定義 青色
$shop-color-cyan: #47B3C3;
/// 商店顏色定義 綠色
$shop-color-green: #4CAD4C;
/// 商店顏色定義 灰色
$shop-color-grey: #E4E4E4;
/// 商店顏色定義 淡色
$shop-color-light: #E4E4E4;
/// 商店顏色定義 橘色
$shop-color-orange: #EE600A;
/// 商店顏色定義 桃色
$shop-color-peach: #E94D8A;
/// 商店顏色定義 粉紅色
$shop-color-pink: #EE8AA2;
/// 商店顏色定義 紫色
$shop-color-purple: #7834A1;
/// 商店顏色定義 紅色
$shop-color-red: #FF2750;
/// 商店顏色定義 白色
$shop-color-white: $white;

/// sidebar 分隔線顏色
$sidebar-divider-color: rgba(255,255,255,.2);

/// footer 文字顏色
$footer-color: #c6c6c6;