// header
/// 91APP logo顏色
$logo-color: $white;
//// 系統 logo color
$system-logo-color: $white;
// header 背景色
$topbar-bg-color: $blue;
// header 底部shadow
$topbar-shadow: none;
// 上方右側選項文字顏色
$topbar-nav-color:$white;
// 上方右側選項hover背景色
$topbar-nav-hover-bg: #3088D4;
// 上方右側選項hover 底線顏色
$topbar-nav-hover-border: #346c9d;
/// menu 漢堡顏色
$menu-hamburger-color: #DC5F5D;
/// menu 漢堡底色
$menu-hamburger-bg: transparent;
/// menu 品牌 logo 區塊底色
$menu-brand-bg: #153F5A;

// sidebar
/// sidebar 背景色
$sidebar-bg: $deeper-blue;
/// sidebar menu 第二階層顏色
$sidebar-second-bg: #276188;
/// sidebar menu 第二階層active 背景顏色
$sidebar-second-active-bg: #477fa3;
/// sidebar menu 第二階層文字顏色
$sidebar-second-font:$lighting-white;
/// sidebar menu 第二階層active 文字顏色
$sidebar-second-active-font: $lighting-white;
/// sidebar menu 第二階層hover 顏色
$sidebar-second-hover: $lighting-white;
/// sidebar 文字顏色
$sidebar-font-color: $lighting-white;
/// sidebar icon 顏色
$sidebar-icon-color: $white;
/// sidebar 第二階層 active 圓點色
$sidebar-second-dot-active: transparent;
/// sidebar active 左邊線色
$sidebar-second-border: $sidebar-second-bg;

// footer
$footer-bg:#153F5A;