// header
/// 91APP logo顏色
$logo-color: #F5593B;
//// CRM logo color
$system-logo-color: #bbb;
// header 背景色
$topbar-bg-color: #2c2e41;
// header 底部shadow
$topbar-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
// 上方右側選項文字顏色
$topbar-nav-color:#e5e5e5;
// 上方右側選項hover背景色
$topbar-nav-hover-bg: #3b3d56;
// 上方右側選項hover 底線顏色
$topbar-nav-hover-border: transparent;
/// menu 漢堡顏色
$menu-hamburger-color: $white;
/// menu 漢堡底色
$menu-hamburger-bg: #0aa398;
/// menu 品牌 logo 區塊底色
$menu-brand-bg: transparent;

// sidebar
/// sidebar 背景色
$sidebar-bg: #40425a;
/// sidebar menu 第二階層顏色
$sidebar-second-bg: #2c2e41;
/// sidebar menu 第二階層active 背景顏色
$sidebar-second-active-bg: #2c2e41;
/// sidebar menu 第二階層文字顏色
$sidebar-second-font: #bcbcbc;
/// sidebar menu 第二階層active 文字顏色
$sidebar-second-active-font: #e5e5e5;
/// sidebar menu 第二階層hover 顏色
$sidebar-second-hover:#e5e5e5;
/// sidebar 文字顏色
$sidebar-font-color: #e5e5e5;
/// sidebar icon 顏色
$sidebar-icon-color: $text-deep-color;
/// sidebar 第二階層 active 圓點色
$sidebar-second-dot-active: #228587;
/// sidebar 左邊線色
$sidebar-second-border: #228587;

// footer
$footer-bg: #2c2e41;