// font variables
$font-size: 14px;

/// 91APP logo icon font size
$logo-font-size: 19px;

/// 螢幕寬度
$sm: 768px;
$md: 1281px;
$lg: 1620px;

//// top bar/header 高度
$top-bar-height: 64px;

/// sidebar 動畫區間
$sidebar-duration: .3s;
/// 側欄menu在桌機時的寬度
$side-bar-width: 220px;

body {
  font-size: $font-size;
}
//字型設定
html, body, input{
  font-family: "Lucida Grande", "Microsoft JhengHei", "Helvetica", sans-serif;
}
// input 在手機上移除預設樣式
input[type=text],input[type=number],input[type=tel]{
  -webkit-appearance: none;
}