.outline {
  @include hidden-outline;
  display: none;
}

.hide-over-bottom {
  display: none;
}

.hide-at-mobile {
  @include hide-at-mobile;
}

.hide-at-pc {
  @include hide-at-pc;
}

.hide-small-than-pc {
  @include hide-small-than-pc;
}

.show-at-pc {
  @include show-at-pc;
}

.show-at-mobile {
  @include show-at-mobile;
}

.clearfix{
  clear: both;
}

.clear-float {
  @include clearfix();
}

._hide-at-mobile {
  @include screen-is(sm) {
    display: none !important;
  }
}

._hide-at-pad {
  @include screen-is(md) {
    display: none !important;
  }
}

._hide-at-pc {
  @include screen-is(lg) {
    display: none !important;
  }
}

._show-at-mobile {
  @include screen-is(sm) {
    display: block !important;
  }
}

._show-at-pad {
  @include screen-is(md) {
    display: block !important;
  }
}

._show-at-pc {
  @include screen-is(lg) {
    display: block !important;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
  opacity: 10 !important;
}

.transparent {
  opacity: 0;
}

.p-100 {
  width: 100%;
}

.p-50 {
  width: 50%;
}

.margin-top-init {
  margin-top: 0 !important;
}

.margin-right-init {
  margin-right: 0 !important;
}

.margin-bottom-init {
  margin-bottom: 0 !important;
}

.margin-left-init {
  margin-left: 0 !important;
}

.padding-top-init {
  padding-top: 0 !important;
}

.padding-right-init {
  padding-right: 0 !important;
}

.padding-bottom-init {
  padding-bottom: 0 !important;
}

.padding-left-init {
  padding-left: 0 !important;
}

.margin-init {
  @extend .margin-top-init;
  @extend .margin-right-init;
  @extend .margin-bottom-init;
  @extend .margin-left-init;
}

.padding-init {
  @extend .padding-top-init;
  @extend .padding-right-init;
  @extend .padding-bottom-init;
  @extend .padding-left-init;
}

.all-init {
  @extend .margin-init;
  @extend .padding-init;
}

.align-init {
  text-align: left !important;
}

.theme-init {
  background: inherit !important;
  border: none !important;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.table {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: inherit;
  color: inherit;
}

.table-cell {
  display: table-cell;
  width: 1%;
  font-size: inherit;
  color: inherit;
}

.webkit-smooth-fixed {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.link-no-hover:hover {
  color: currentColor !important;
  cursor: default;
}

.center-child-large-mobile {
  @include screen-large-then(sm) {
    text-align: center;
  }
}

.init-width-large-mobile {
  @include screen-large-then(sm) {
    width: auto !important;
    max-width: 100% !important;
  }
}

.init-cursor {
  cursor: default;
}

.vertical-container {
  @include displayFlexBox();
  @include centerFlexBox();
}

.text-align-left{
  text-align: left;
}

.text-align-center{
  text-align: center;
}

.text-align-right{
  text-align: right;
}

.border-box-sizing{
  box-sizing: border-box;
}