.breadcrumb-container {
  background-color: $gray-bg;
  margin: 0 -40px 0 -40px;
  padding: 12px;
  .breadcrumbs {
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
    li {
      color: $dark-grey;
      float: left;
      font-weight: 100;
      font-size: 13px;
      text-transform: uppercase;

      a {
        color: $breadcrumb-link-blue;
        text-decoration: none;
      }

      &.active {
        color: $darker-grey;
      }

      &:after {
        color: $dark-grey;
        content: ">";
        display: inline-block;
        text-align: center;
        width: 20px;
      }
      &:last-child:after {
        content: "";
        width: 0;
      }
    }
  }

  &.breadcrumb-static{
    .breadcrumbs li{
      color: $dark-black;
    }
  }
}
// 手機尺寸時
@include screen-small-then(md){
  //麵包屑的container間隙縮小
  .breadcrumb-container{
    margin: 0 -20px;
  }
}

