%button-base {
    font-size: $font-size;
    height: 34px;
    padding-left: 14px;
    padding-right: 14px;
    min-width: 90px;
}

%button-disabled-base {
    background: $grey;
    border-color: $grey;
    color: $white;
}

%button-hover-base {
    color: $white;
}

%button-disabled-class-base {
    &,
    &:hover {
        background: $grey;
        border-color: $grey;
        color: $white;
        cursor: default;
    }
}

.btn {
    margin-right: 10px;
    >i {
        padding-right: 5px;
    }
    &.btn-main {
        @extend %button-base;
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
        &:disabled {
            @extend %button-disabled-base;
        }
        &:hover:enabled,
        &:focus:enabled {
            @extend %button-hover-base;
            border-color: $deep-blue;
            background-color: $deep-blue;
        }
    }
    &.btn-sub {
        @extend %button-base;
        background-color: $white;
        border-color: $blue;
        color: $blue;
        &:disabled {
            @extend %button-disabled-base;
        }
        &:hover:enabled,
        &:focus:enabled {
            @extend %button-hover-base;
            background-color: $light-blue;
            border-color: $blue;
        }
    }
    &.btn-main-func {
        @extend %button-base;
        border: 1px solid $green;
        background-color: $green;
        color: $white;
        &:disabled {
            @extend %button-disabled-base;
        }
        &:hover:enabled,
        &:focus:enabled {
            @extend %button-hover-base;
            border-color: $deep-green;
            background-color: $deep-green;
        }
    }
    &.btn-sub-func {
        @extend %button-base;
        background-color: $white;
        border-color: $green;
        color: $green;
        &:disabled {
            @extend %button-disabled-base;
        }
        &:hover:enabled,
        &:focus:enabled {
            @extend %button-hover-base;
            background-color: $light-green;
            border-color: $green;
        }
    }
    &.btn-delete {
        border: 1px solid $bell-message;
        background-color: $bell-message;
        color: $white;
        min-width: 90px;
    }
    &.btn-delete:hover {
        border-color: $btn-delete-hover;
        background-color: $btn-delete-hover;
        color: $white;
    }
    &.btn-sub-delete {
        border: 1px solid $bell-message;
        color: $light-red;
        min-width: 90px;
    }
    &.btn-sub-delete:hover {
        background-color: $sub-btn-delete-hover;
        color: $white;
    }
    &.btn-margin-right {
        margin-right: 10px;
    }
    &.btn-width-auto {
        width: auto !important;
    }
    &.btn-small {
        min-height: 26px;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        min-width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.input-group-btn {
    .k-button {
        border-radius: 0 4px 4px 0;
    }
}

// 避免按鈕折行時，字會超出框框
.k-button.btn-main,
.btn.btn-main,
.k-button.btn-sub,
.btn.btn-sub,
.k-button.btn-main-func,
.btn.btn-main-func,
.k-button.btn-sub-func,
.btn.btn-sub-func {
    height: auto;
}

.k-button.btn-sub:focus,
.btn.btn-sub:focus {
    background-color: $white;
    border-color: $blue;
    color: $blue;
}

// 移除focus的陰影
.k-button:focus:active:not(.k-state-disabled):not([disabled]),
.k-button:focus:not(.k-state-disabled):not([disabled]) {
    box-shadow: none;
}
//disabled class
.k-button.btn-main,
.btn.btn-main,
.k-button.btn-sub,
.btn.btn-sub,
.k-button.btn-main-func,
.btn.btn-main-func,
.k-button.btn-sub-func,
.btn.btn-sub-func,
.k-button.btn-delete,
.k-button.btn-sub-delete {
    &.disabled,
    &.disabled:hover,
    &.disabled:hover:enabled,
    &.disabled:focus:enabled{
        background: $grey;
        border-color: $grey;
        color: $white;
        cursor: default;
    }
} 

// 設定 和input綁在一起的按鈕 的高度
.input-group-btn {
    .k-button {
        height: 34px;
    }
}

.icon-button {
    color: $blue;
    background-color: $white;
    border: 1px solid $blue;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 2px;
    padding: 0;
    &:hover {
        color: $white;
        background-color: $blue;
    }
    &.delete {
        color: $light-red;
        border: 1px solid $bell-message;
        &:hover {
            color: $white;
            background-color: $light-red;
        }
    }
}

.back-to-back-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 3px;
    background-color: $white;
    border: 1px solid $dark-white;
    color: $text-dark-color;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    &:hover,
    &.active {
        text-decoration: none;
    }
}