.card{
  margin-bottom: 30px;
}
.card-default{
  border: 1px solid $panel-border-color;
  box-shadow: 0 2px 0 0 rgba(200,200,200,.5);
  & > .card-header{
    color: $panel-heading-color;
    background-color: $panel-heading-bg;
    border: $panel-heading-bg;
    font-weight:700;
    // 標題描述放在panel標題旁邊
    .heading-desc {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      margin-left: 10px;
      .desc-text {
        color: $text-deep-color;
      }
      &.multi-line {
        vertical-align: text-top;
      }
    }
  }
}
.card-sub-title{
  font-weight: normal;
  font-size: 14px;
}