// 裡面內容
//#page-wrapper {
//  padding: 0 40px;
//}
.content-row {
  margin-left: 0;
  margin-right: 0;
}
//頁面標題
.page-title {
  color: $darker-grey;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 10px;
  .sub-item {
    color: $darker-grey;
    font-size: 15px;
  }
  .star {
    color: $red;
  }
}
// 標題描述放在主標題旁邊，目前用於當作使用手冊樣式
.title-desc {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  .desc-text {
    color: $text-deep-color;
    padding-left: 10px;
  }
}
//頁面內容
.page-content {
  margin-top: 20px;
  margin-bottom: 20px;
  // 沒有查詢內容 (ex. 沒有廣告)
  &.no-content {
    padding-top: 40px;
    background-position: center 0;
    background-repeat: no-repeat;
    h2 {
      padding-top: 200px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 22px;
      color: $text-page-title-color;
      margin-top: 0;
    }
    div {
      text-align: center;
    }
  }
}
// 橫跨頁面的動作按鈕容器(通常在頁面最下方)
.message-above-action{
  padding: 0 15px 10px 0;
}
.row .action-container {
  background-color: $content-bg;
  clear: both;
  margin: 0px -40px;
  padding: 15px 40px;
  .message{
    color: $text-dark-color;
    font-size: 13px;
    margin-top: 10px;
  }
}

.help-block {
  margin-bottom: 0;
}

.link-line {
  padding-left: 12px;
  padding-right: 12px;
}
.form-control-link-line{
  height: 34px;
  line-height: 34px;
  display: inline-block;
  vertical-align: top;
}
label {
  font-weight: normal;
}
// 新視窗
.new-window-container {
  padding: 0 40px 20px 40px;
  min-height: 625px;
  margin-left: 0;
  margin-right: 0;
  .action-container {
    background-color: $content-bg;
    clear: both;
    margin: 0px -40px;
    padding: 15px 40px;
    .message {
      color: $text-dark-color;
      font-size: 13px;
      margin-top: 10px;
    }
  }
}
// 圖旁邊有文字 在圖上的 class
.image-beside-text{
  width: 60px;
  height: auto;
  float: left;
  margin-right: 10px;
}
@include screen-is(sm){
  .content-wrapper {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
}