// 日期時間選單
/*.k-datepicker{
  &.is-submitted.ng-invalid .k-picker-wrap{
    border-color: $bell-message;
  }
}*/
.ns-datetime-range {
  font-size: 14px;
  .link-line {
    padding-left: 12px;
    padding-right: 12px;
  }
  .k-datepicker, .k-timepicker{
    //margin-bottom: 10px;
  }
}
// 時間區間驗證有誤
.ns-date-range-validity.form-invalid {
  .k-widget{
    border: none;
  }
  .k-picker-wrap{
    border:1px solid $bell-message;
  }
}
// 時間下拉選單
.datetime-range-container{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}
// 一週選單 ex. 週一 週二
.form-horizontal .ns-weekday-picker{
  .k-dropdown{
    margin-right: 0;
    margin-bottom: 10px;
    width: 120px;
  }
}
// 大於 小於的 下拉寬度
.dropdown-2-word-width .k-widget.k-dropdown{
  width: 80px;
}
// 移除時間下拉的紅框
.datetime-range-container .k-widget.ng-invalid{
  border: none;
}