a {
    color: $link-blue;
    text-decoration: none;
}

a:hover {
    color: $link-hover-blue;
}

a:focus {
    outline: none;
}

h5 {
    margin-bottom: 4px;
    font-weight: bold;
}

.error-txt {
    color: $bell-message;
}

.no-resize {
    resize: none;
}

.warning-txt {
    font-size: 13px;
    color: $text-emphasis;
    line-height: 20px;
}

.note-txt {
    font-size: 13px;
    color: $text-deep-color;
}

//輸入框上方 note 樣式
//.note-on-top {
//    font-size: 13px;
//    margin-bottom: 5px;
//    color: $text-deep-color;
//}

.ns-entry-count {
    font-size: 12px;
    color: $text-dark-color;
}

.error-message {
    color: $error-message-color;
    font-size: 13px;
    margin-bottom: 0;
    text-align: left;
    line-height: 20px;
    display: none;
    &.show-message {
        display: block;
    }
}

.explain-title {
    color: $panel-heading-color;
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0;
    border-left: 4px solid $panel-heading-color;
    padding-left: 6px;
    .fa-question-circle {
        margin-left: 3px;
    }
    .note {
        color: $text-deep-color;
        font-size: .8em;
    }
}

// 錯誤的input field
.error-field {
    // Checkbox
    .k-checkbox-label:before,
    .k-checkbox-label:hover:before {
        border-color: $error-message-color;
    } //radio
    .k-radio-label:before {
        border-color: $error-message-color;
    } //Dropdown
    .k-dropdown-wrap {
        border-color: $error-message-color;
    } // 日期選單
    .k-picker-wrap.k-state-default {
        border-color: $error-message-color;
    }
}

// radio button
.ng-submitted .ng-invalid+.k-radio-label:before {
    border-color: $error-message-color;
}

.available-message {
    color: $green;
}

.none-available-message {
    color: $bell-message;
}

//icon
.none-available-message.fa.fa-times-circle {
    padding-left: 0;
}

.pending-message {
    color: $orange;
}

//sms 的按鈕顏色定義
.btn-primary {
    border: $blue;
    background-color: $blue;
    &:hover {
        background-color: $deep-blue;
    }
}

.btn-sub {
    color: $blue;
    border-color: $blue;
    &:hover {
        color: $white;
        background-color: $light-blue;
    }
}

//複寫kendo checkbox不可以選的限制
input.k-checkbox+label {
    -webkit-user-select: text;
}

// 影片彈性寬度
.video-preview {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

//checkbox radio disable 樣式
.k-radio:disabled+.k-radio-label:before,
.k-radio:disabled+.k-radio-label:active:before,
.k-radio:disabled+.k-radio-label:hover:after,
.k-radio:disabled+.k-radio-label:hover:before {
    background-color: $light-grey;
}

.k-checkbox:disabled+.k-checkbox-label:before,
.k-checkbox:disabled+.k-checkbox-label:active:before,
.k-checkbox:disabled+.k-checkbox-label:hover:after,
.k-checkbox:disabled+.k-checkbox-label:hover:before {
    background-color: $light-grey;
}

//checkbox radio disable 選擇時樣式
.k-radio:disabled:checked+.k-radio-label:hover:after,
.k-radio:disabled:checked+.k-radio-label:after {
    background-color: $disable-grey;
}

.k-checkbox:disabled:checked+.k-checkbox-label:hover:after,
.k-checkbox:disabled:checked+.k-checkbox-label:after {
    background-color: $disable-grey;
}

@include screen-is(sm) {
    .ns-address-dropdown .item-address-detail {
        margin-top: 0;
    }
}
