%explain-base{
  color: $explain-block-text-color;
  font-size: 13px;
  height: auto;
  border-radius: 3px;
  border: 1px solid $explain-block-border-color;
  padding: 10px;
  margin-bottom: 30px;
  .fa{
    color: $lighter-blue;
  }
  .fa-info-circle {
    padding-right: 5px;
    font-size: 16px;
  }
}
.explain-block {
  @extend %explain-base;
  .explain-message{
    margin: 10px 0 10px 25px;
  }
  // explain-block 多行狀況
  &.multi-line {
    ul {
      margin-bottom: 0;
      li {
        margin: 3px 0;
      }
    }
  }
}
// 收合
.explain-collapse-block{
  @extend %explain-base;
  padding: 0;
  .title{
    cursor: pointer;
    padding: 10px;
    &:hover{
      background-color: $tr-odd-bg-color;
    }
    .icon-triangle{
      transform: scale(0.6, 0.6) rotateZ(180deg);
    }
    &.collapsed{
      .icon-triangle{
        transform: scale(0.6, 0.6) rotateZ(0deg);
      }
    }
  }
  .explain-content{
    padding: 4px 10px 0 30px;
    ul {
      padding-left: 1.6em;
      li {
        margin: 3px 0;
      }
    }
  }
}
//灰框
.gray-line-info-block{
  border: 1px solid $lighting-white;
  border-radius: 3px;
  padding: 15px;
}