%invalid-base {
    border-color: $red;
}

%invalid-shake {
    animation: shake 400ms ease-in-out;
}

%valid-base {
    border-color: #3c763d;
}

.form-required {
    color: $bell-message;
    padding-right: 5px;
}

.not-required-label {
    padding-left: 26px;
}

.form-horizontal {
    .control-label {
        text-align: left;
        float: left;
        padding-right: 5px;
    }
    .k-dropdown {
        margin-right: 20px;
    }
}

.form-group {
    text-align: left;
    margin: 0 0 30px !important;
}

// 清單的樣式
.list-form-group {
    text-align: left;
    margin: 0 0 10px !important;
}

.ng-submitted {
    .ng-invalid {
        @extend %invalid-shake;
        .k-dropdown-wrap {
            @extend %invalid-base;
        }
    }
    .ng-invalid:not(ng-form) {
        border: 1px solid $bell-message;
    } // 元件外框不需要框線
    .ng-invalid {
        &.ns-address,
        &.ns-upload,
        &.ns-time-range,
        &.ns-datetime-range,
        &.ns-datetime-range {
            border: none;
        }
    } // kendo 下拉 裏頭 input border要歸零
    .k-widget.ng-invalid .k-picker-wrap {
        .ng-invalid {
            border: none;
        }
    } // //某些畫面不需要錯誤紅框
    .no-border-region {
        .ng-invalid.ns-address-dropdown,
        ns-image-upload.ng-invalid {
            border: 0;
        }
    }
}

// 如果 untouched（尚未離開 input） 但是有錯誤時 不晃動
.form-control {
    &.ng-dirty {
        &.ng-invalid.ng-touched,
        &.ng-pristine.ng-touched {
            @extend %invalid-shake;
            .k-dropdown-wrap {
                @extend %invalid-base;
            }
        }
    }
    .k-dropdown-wrap.k-state-disabled {
        border-color: #ccc !important;
    }
}

// 額外需要
.shake-x {
    @extend %invalid-shake;
}

// 更多的表單元件
.form-inline {
    .form-actions {
        padding: 0 0 18px;
        &.pull-left {
            margin-top: 16px;
            margin-bottom: 16px;
            padding: 0;
        }
        &.pull-right {
            margin-top: 16px;
            margin-bottom: 16px;
            padding: 0;
        }
        &.form-top-with-pager {
            margin-top: -4px;
        }
        &.form-bottom {
            margin-top: 0;
        }
    }
    .total-count {
        color: $text-dark-color;
        margin-top: 25px
    }
}

// 在form 外面的標題
.title-above-form {
    font-size: 16px;
    color: $text-dark-color;
    clear: both;
}

.form-group.no-bottom-margin {
    margin-bottom: 0 !important;
}

//  bootstrap會在label加上 margin-top, 有時kendoui 元件或其他element沒有，需補上才會對齊
.bootstrap-top-spacing {
    margin-top: 7px !important;
}

// 標籤往下壓和bootstrap form-control垂直置中對齊
.label-top-spacing {
    padding-top: 7px;
}

// text input 帶有十位數的字數限制
.form-control.with-word-count-tenth {
    width: calc(100% - 70px);
    display: inline-block;
    margin-right: 5px;
}

// text input 帶有百位數的字數限制
.form-control.with-word-count-hundredth {
    width: calc(100% - 90px);
    display: inline-block;
    margin-right: 5px;
}

.form-control.form-control-half-width {
    width: 50%;
}

//textarea 要讓字數計算向上對齊
textarea.with-word-count-tenth,
textarea.with-word-count-hundredth,
textarea.form-control-half-width {
    vertical-align: top;
}

.form-control.inline-block {
    display: inline-block;
}

.form-horizontal {
    // text input
    .form-control.width-shop-name {
        max-width: 28em;
    }
    .form-input-error {
        input {
            border-color: $bell-message;
            box-shadow: none;
            &:focus {
                border-color: $bell-message;
                box-shadow: none;
            }
        }
    } // 在form control 上方的註解文字
    .note-on-top {
        color: $text-deep-color;
        font-size: 13px;
        padding-bottom: 5px;
        ul {
            padding-left: 20px;
            margin-bottom: 0;
        }
        &.warning-text {
            color: $text-emphasis;
        }
    } //在文字input後的訊息
    .message-after-input {
        margin-left: 5px;
        color: $text-deep-color;
        font-size: 13px;
        display: inline-block;
        line-height: 1.5em;
    }
    .image-upload-header {
        font-size: 12px;
        color: $text-dark-color;
    } // 在form control 上方的標題
    .title-on-top {
        font-size: 14px;
        &.sub-title {
            font-size: 13px;
            color: $text-deep-color;
            margin-top: 0;
        }
    }
    .free-url-input {
        display: inline;
        width: 15em;
        vertical-align: text-bottom;
    }
    .custom-url-input {
        width: calc(100% - 70px);
        display: inline;
    }
    .check-url {
        margin-left: 5px;
        cursor: pointer;
    }
    .checkbox-list {
        li {
            margin: 6px 0;
            color: $text-dark-color;
        }
        a {
            font-size: 13px;
        }
    } // 第二層的 checkbox
    .sub-checkbox-list {
        margin-left: 1.5em;
        li {
            margin: 6px 0;
            color: $text-dark-color;
        }
    }
    .align-bottom {
        height: 36px;
        span {
            display: inline-block;
            vertical-align: bottom;
            height: .1em;
        }
    }
    label.col-sm-2 {
        width: 160px;
    }
    div.col-sm-10 {
        width: calc(100% - 160px);
    } // 表單裡的選項
    .row-in-cell {
        margin-bottom: 10px;
        label.col-sm-2 {
            width: 9em;
        }
        div.col-sm-10 {
            width: calc(100% - 9em);
        }
        .k-dropdown {
            margin-left: 0;
        }
    }
    @include screen-is(sm) {
        label.col-sm-2 {
            text-align: left;
            margin-bottom: 10px;
        }
        div.col-sm-10,
        div.col-sm-5 {
            clear: both;
            width: 100%;
        }
        .form-control.form-control-half-width {
            width: 100%;
        }
    }
}

//表單驗證不過時 不過的kendo-widget需要加上紅框
.ng-invalid-required .k-widget.ng-invalid {
    border-color: $bell-message;
}

// 表單的radio 必選沒有選 顯示紅框
.ng-submitted .ng-invalid-required .ng-invalid-required+.k-radio-label:before {
    border-color: $bell-message;
}

//error message
.form-control.input-error,
.k-editor.input-error {
    border-color: $bell-message;
    box-shadow: none;
    &:focus {
        border-color: $bell-message;
        box-shadow: none;
    }
}

//placeholder color
::-webkit-input-placeholder {
    color: $input-placeholder-color;
}

::-moz-placeholder {
    color: $input-placeholder-color;
}

:-ms-input-placeholder {
    color: $input-placeholder-color;
}

input:-moz-placeholder {
    color: $input-placeholder-color;
}

// 橫向表格呈現的表單
.form-horizontal-grid {
    .form-group {
        margin-bottom: 0 !important;
    }
    .col-sm-4,
    .col-sm-8 {
        //height: 60px;
        border: 1px solid $lighting-white;
    }
    .col-sm-4 {
        font-size: 13px;
        border-bottom-color: transparent;
        padding-top: calc((60px - 34px)/2);
    }
    .col-sm-8 {
        border-top-color: transparent;
        padding-top: calc((60px - 34px)/2);
        padding-bottom: calc((60px - 34px)/2);
    }
    .form-horizontal-cell {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .form-horizontal-label {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

// disable resize不能操作不需顯示 右下角斜線
// 主要針對 textarea
.form-control[disabled] {
    resize: none;
}

.form-control {
    &.height-80 {
        height: 80px;
    }
    &.height-150 {
        height: 150px;
    }
    &.height-200 {
        height: 200px;
    }
    &.height-250 {
        height: 250px;
    }
    &.height-350 {
        height: 350px;
    }
    &.disabled {
        background: $deep-white;
        border: 1px solid $dark-white;
    }
}

@media (min-width: 768px) {
    .form-horizontal-grid {
        .form-group {
            position: relative;
        }
        .col-sm-4 {
            width: 200px;
            background-color: $grouped-footer-bg-color;
            border-bottom-color: $lighting-white;
            position: absolute;
            top: 0;
            bottom: 0;
            padding-top: 0;
        }
        .col-sm-8 {
            width: calc(100% - 200px);
            border-top-color: $lighting-white;
            margin-left: 200px;
        }
    }
}
