// grouped table, 父層仍有td內容
.table.grouped-table {
    th {
        font-size: 13px;
    }
    th,
    td {
        border-bottom: 1px solid $table-border-color;
        box-sizing: border-box;
    }
    tr:nth-child(odd)>td {
        background-color: $white;
    }
    tr:nth-child(even)>td {
        background-color: $white;
    }
    th:first-child,
    td:first-child {
        padding-left: 8px;
    }
    tr.parent-level {
        &>td {
            background-color: $white;
        }
        .no-child-spacing {
            display: inline-block;
            width: 16px;
        }
        .icon.icon-triangle {
            display: inline-block;
            transform: scale(.6, .6) rotateZ(180deg);
        }
        &.close-group {
            .icon.icon-triangle {
                transform: scale(.6, .6);
            }
        } // 有開合三角形 加上hover滑鼠樣式
        &.has-child {
            cursor: pointer;
        } //沒有開合三角形的td利用pseudo element和有開合三角形的td對齊
        &.no-child {
            td:first-child:before {
                content: "";
                display: inline-block;
                width: 16px;
                left: 0;
            }
        }
    }
    tr.child-level {
        td:first-child {
            padding-right: 16px;
            text-align: right;
            border-left: 5px solid $lightest-blue;
        }
        td {
            background-color: $td-bg-color;
        }
        &:last-child td {
            border-bottom: 2px solid $table-border-color;
        }
    }
    tbody+tbody {
        border-top-width: 0;
    }
}