.glyphicon {
  &.glyphicon-download-alt {
    padding-left:5px;
    color: $blue;
  }
}

.fa {
  &.fa-question-circle {
    &:before {
      color: $question-grey;
    }
    &:hover:before{
      color: $dark-grey;
      transition : all 0.2s ease;
    }
    padding-left:5px;
  }
  &.fa-times-circle{
    padding-left:5px;
    color: $text-emphasis;
    font-size: 16px;
  }
}
// 按鈕內 問號為白色
.k-button .fa {
  &.fa-question-circle {
    &:before {
      color: $white;
    }
    &:hover:before{
      color: $white;
    }
    padding-left:5px;
  }
}
.delete-link {
  color: $delete-link-color;
  cursor: pointer;
  .fa-times {
    font-size: 16px;
    margin-left: 3px;
    color: $delete-link-icon-color;
  }
  &:hover,&:visited,&:focus{
    color: $delete-link-color;
  }
  &:visited,&:focus{
    text-decoration: none;
    outline: 0;
  }
}

.check-circle {
  margin-left: 5px;
  color: $deep-green;
  .fa-check-circle{
    padding-right: 5px;
  }
}

.download-link {
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  word-break: keep-all;
}

.close{
  opacity: .4;
}