input[type=text], input[type=number], input[type=tel] {
  -webkit-appearance: none;
}

// inline checkbox樣式和radio button一致
.k-checkbox-label {
  margin-right: 20px;
  padding-top: 2px;
}

.checkbox-inline {
  padding-left: 0;
  padding-top: 1px !important;
}

.checkmark-minus {
  &:before {
    content: '-' !important;
  }
}

.radio-inline {
  padding-left: 20px;
}

.k-radio-label {
  margin-right: 20px;
  padding-top: 2px;
}

// 解決 kendo radio button disable 後 hover會變色
//checkbox radio disable 樣式
.k-radio:disabled + .k-radio-label:before, .k-radio:disabled + .k-radio-label:active:before, .k-radio:disabled + .k-radio-label:hover:after, .k-radio:disabled + .k-radio-label:hover:before {
  background-color: $light-grey;
}

.k-checkbox:disabled + .k-checkbox-label:before, .k-checkbox:disabled + .k-checkbox-label:active:before, .k-checkbox:disabled + .k-checkbox-label:hover:after, .k-checkbox:disabled + .k-checkbox-label:hover:before {
  background-color: $light-grey;
}
.composite-input {
  min-height: 40px;
  line-height: 40px;
  .k-radio-label {
    margin-bottom: 0;
  }
}

// 設定 和input綁在一起的按鈕 的高度
.input-group-btn {
  .k-button {
    height: 34px;
  }
}

// 批次輸入框
.input-batch-group {
  .form-control {
    display: inline-block;
    vertical-align: bottom;
    max-width: 400px;
    margin-right: 5px;
  }
  .input-batch-btn {
    display: inline-block;
    vertical-align: bottom;
  }
}

// editor 可以調整高度
.k-editor .k-content {
  resize: vertical;
  min-height: 200px;
}