// 外面大C框架和動畫
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0;
  min-height: calc(100vh - 83px);
  background-color: $sidebar-bg;
  position: inherit;
  margin: 0;
}
.content-wrapper {
  margin: 0;
  min-height: calc(100vh - 82px);
  padding: 0 40px 30px;
  border-left: 1px solid $content-wrap-border-color;
  background-color: $white;

}
.show ~ .content-wrapper {
  margin-left: $side-bar-width;
}