///內容區塊的樣式
%content-section {
    border-radius: 3px;
    background-color: #fff;
}

%condition-search-base {
    border: 1px solid $light-medium-gray;
    padding: 30px;
    display: table-cell;
    height: 100%;
    @extend %content-section;
}

.condition-search-content {
    margin-bottom: 20px;
    margin-top: 20px;
    display: table;
    height: 100%;
    width: 100%; // 中間間隙
    .table-split {
        display: table-cell;
        width: 2%;
    }
    .condition-search {
        @extend %condition-search-base;
        width: 78%;
        border-radius: 3px;
        .k-datepicker,
        .k-timepicker {
            margin-bottom: 5px;
        }
        .col-lg-1,
        .col-lg-2 {
            min-width: 90px;
            margin-bottom: 15px;
        } // 每一個條件
        .condition-item {
            margin-bottom: 20px; // 條件下方有複合條件 需要把底部間隙歸0
            &.combo-condition {
                margin-bottom: 0;
            }
        } // 條件標題
        .item-title {
            //display: inline-block;
            vertical-align: top;
            padding: 0 30px 10px 0;
            width: 150px;
            float: left;
        } // 條件欄位
        .item-content {
            float: left;
            //display: inline-block;
            margin: 0 5px 0 0;
            vertical-align: top;
        }
        .label-top-spacing {
            padding-top: 7px;
        } // .item-content 裡的 element
        .item-sub-elements {
            display: inline-block;
            margin-bottom: 10px;
            .k-datepicker {
                margin-bottom: 0;
            }
        } // .item-content 裡 如果是 radio + input 的組合加上此class
        .item-sub-combo-elements {
            margin-right: 10px;
            .single-input-label,
            .combo-input-label {
                margin-top: 5px;
            }
            .k-radio-label {
                margin-right: 0;
            }
            .form-control {
                display: inline-block;
            }
        }
        .item-message {
            line-height: 35px;
            padding-left: 10px;
        }
    } //右邊相關功能區
    .condition-search-relate {
        @extend %condition-search-base;
        border-radius: 4px;
        vertical-align: top;
        .condition-toolBtn {
            margin: 10px 5px 5px 0;
        }
        .condition-title {
            width: 100%;
            line-height: 30px;
            margin-right: 30px;
            float: left;
        }
        .condition-action {
            margin-right: 10px;
            margin-bottom: 10px
        }
    }
}

.k-list {
    overflow: auto;
}

.dialog-form-content {
    padding: 10px 0;
}

.form-item {
    margin-bottom: 20px;
}

.form-title {
    float: left;
    margin-right: 10px;
    width: 80px;
}

.form-content {
    float: left;
    max-width: 75%;
    margin-bottom: 10px;
}

.item-clear {
    @include clearfix();
}

///  收合效果
.condition-advanced {
    transition: all .3s ease;
    max-height: 0;
    overflow: hidden;
    &.open {
        max-height: 2000px;
    }
}

///  收合icon
.icon-triangle {
    display: inline-block;
    transform: scale(.6, .6);
}

///  收合icon
.icon-triangle-up {
    transform: scale(.6, .6) rotateZ(180deg);
}

.btn-export {
    float: left;
    position: relative;
    top: 20px;
    margin-right: 10px;
}

.no-data {
    text-align: center;
    margin: 10vh 0;
    font-size: 1.3em;
    color: $deep-grey;
}

@include screen-small-then(md) {
    .condition-search-content {
        display: block;
        .condition-search,
        .condition-search-relate,
        .table-split {
            display: block;
        }
        .condition-search {
            width: 100%;
        }
        .table-split {
            width: 100%;
            height: 1em;
        }
    }
}

@include screen-is(sm) {
    .btn-export {
        float: none;
        margin-bottom: 16px;
        display: block;
    }
    .condition-search-content {
        .col-lg-11,
        .col-lg-10 {
            max-width: 100%;
        }
        &.question-search-content .col-lg-10 {
            max-width: 100%;
        }
        .item-content {
            max-width: 100%;
            float: none;
        }
    }
}