.loading-overlay{
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #333333;
}
.loader {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.loader span:before {
  content: "";
  width: 10%;
  height: 10%;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -2.5%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.loader span:nth-child(1) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-name: spin1;
  animation-name: spin1;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.loader span:nth-child(2) {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-animation-name: spin2;
  animation-name: spin2;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.loader span:nth-child(3) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-name: spin3;
  animation-name: spin3;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.loader span:nth-child(4) {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-animation-name: spin4;
  animation-name: spin4;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
.loader span:nth-child(5) {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-animation-name: spin5;
  animation-name: spin5;
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}

@-webkit-keyframes spin1 {
  to {
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}

@keyframes spin1 {
  to {
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
@-webkit-keyframes spin2 {
  to {
    -webkit-transform: rotate(375deg);
    transform: rotate(375deg);
  }
}
@keyframes spin2 {
  to {
    -webkit-transform: rotate(375deg);
    transform: rotate(375deg);
  }
}
@-webkit-keyframes spin3 {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin3 {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin4 {
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}
@keyframes spin4 {
  to {
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
  }
}
@-webkit-keyframes spin5 {
  to {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
  }
}
@keyframes spin5 {
  to {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
  }
}