@charset "utf-8";

///另開新視窗樣式
.window-header {
    background-color: $topbar-bg-color;
    padding: 20px;
    .icon{
        display: inline;
        transform: scale(1, 1);
    }
    .icon-logo-91app{
        color: $logo-color;
        font-size: $logo-font-size;
    }
    .shop-name {
        color: $white;
        padding-left: 10px;
        font-size: 15px;
    }
    .osm-logo{
        font-size:21px;
        letter-spacing: 1px;
        margin-left: 6px;
        color: $system-logo-color;
    }
    .crm-logo{
        font-size:13px;
        margin-left: 6px;
        color: $system-logo-color;
    }
}
///麵包屑樣式
.navbar-breadcrumb {
    background-color:$gray-bg;
    padding: 10px;
}
// 有操作footer
.window-footer {
    background-color: $new-window-footer;
    bottom: 50px;
    padding: 10px 40px;
    right: 0;
    left: 0;
    .desc {
        font-size: 13px;
        margin-top: 10px;
    }
    .message{
        color: $text-dark-color;
        font-size: 13px;
        margin-top: 10px;
    }
}
//顯示 copyright footer
.copyright {
    text-align: center;
    color: $new-window-copyright;
    //position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 13px;
    line-height: 50px;
}

