%query-result{
  border-radius: 3px;
  font-size: 17px;
  color: $text-dark-color;
  padding: 10px 30px;
}
.query-section{
  border-radius: 3px;
  border: solid 1px $topbar-divider;
  padding: 30px;
}
.query-result{
  @extend %query-result;
  &.has-result{
    background-color: $tr-odd-bg-color;
  }
  &.no-result{
    background-color: $gray-bg;
  }
}