$line-height: 34px;
$border-radius: 3px;

%select-base {
  border-radius: $border-radius;
  border-color: $dark-white;
  height: $line-height;
  font-size: $font-size;
  padding-right: 5px;
  box-sizing: border-box;
}

// kendo ui custom
.k-dropdown {
  margin-bottom: 0;
  .k-dropdown-wrap {
    @extend %select-base;
  }
}
// 下拉選單和時間選單的長度和高度
.k-widget{
  &.k-dropdown,
  &.k-datepicker,
  &.k-datetimepicker{
    width: 200px;
    height: $line-height;
  }
  &.k-timepicker{
    width: 120px;
    height: $line-height;
  }
}
.k-picker-wrap{
  height: $line-height;
  border-radius: $border-radius;
  box-sizing: border-box;
}
///表單驗證 kendoUI套件紅框
.form-invalid {
  .k-widget {
    border:1px solid $bell-message;
  }
}
// bootstrap custom
select {
  .form-control {
    @extend %select-base;
  }

  [multiple],
  [size] {
    height: auto;
  }

  option {
    height: 12px;
  }
}
