.nav > li {
  position: relative;
  display: block;
  width: 100%;
}

.sidebar .sidebar-nav.menu-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar {
  background-color: $sidebar-bg;
  box-shadow: none;
  min-height: calc(100vh - 83px);
  ul li a, ul li a:hover, ul li a:focus, ul li a:visited {
    background: transparent;
    display: block;
    padding: 10px 15px;
    outline: 0;
  }
  // hover
  .nav-second-level li a:hover {
    @include transform(translateX(5px));
    //background-color: $sidebar-second-hover;
    //.item{
    //  color: $deeper-blue;
    //}
  }
  .nav-second-level li a {
    transition: all 0.2s ease;
  }
  .divider {
    border-bottom: 1px solid $sidebar-divider-color;
    margin: 10px 0;
  }
  .icon {
    color: $sidebar-icon-color;
    margin-right: 15px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 14px;
    @include transform(scale(.9) translateY(-2px));
    &.icon-activity {
      transform: scale(1.2, 1.2);
    }
    &.icon-speaker {
      transform: scale(1.3) translateX(4px);
    }
  }
  .item {
    font-size: 13px;
    color: $sidebar-font-color;
    display: inline-block;
    //font-weight: bold;
    &.index-active {
      color: $sidebar-second-active-font;
    }
  }
  .icon-dashboard-spacing {
    padding-left: .4em;
  }
  .icon.icon-arrow-down {
    margin-right: 0;
    margin-top: 2px;
    transform: scale(.4, .4);
    transition: all 0.3s ease-out;
  }
  .active > a > .icon.icon-arrow-down {
    transform: translateX(5px) scale(.4, .4) rotateZ(-180deg);
    transition: all 0.3s ease-out;
  }
  //我要發問
  .fa.fa-question-circle {
    padding-left: 0;
    margin-right: 15px;
    &:before {
      color: $white;
    }
  }

  .nav.nav-second-level {
    background-color: $sidebar-second-bg;
    border-left: 3px solid $sidebar-second-border;
    > li:first-child {
      padding-top: 12px;
    }
    > li:last-child {
      padding-bottom: 12px;
    }
    li a {
      padding-left: 55px;
      .item {
        color: $sidebar-second-font;
      }
      &.active {
        @include transform(translateX(0));
        background-color: $sidebar-second-active-bg;
        .item {
          color: $sidebar-second-active-font;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: -1.8em;
            top: .5em;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $sidebar-second-dot-active;
          }
        }
      }
    }
  }
}

.sidebar {
  width: $side-bar-width;
  max-width: $side-bar-width;
  position: absolute;
  transition-property: height, visibility;
  transition-duration: $sidebar-duration;
  transition-timing-function: ease;
  //transform: translateZ(0);
  will-change: transform;
}

.sidebar.width {
  transition-property: left;
}

.collapsing {
  left: 0;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: $sidebar-duration;
  transition-timing-function: ease;
}

.collapsing.width {
  transition-property: left;
  width: $side-bar-width;
  height: auto;
  left: -$side-bar-width;
}

#side-menu {
  width: $side-bar-width;
  // 底部 footer 空間
  padding-bottom: 30px;
  background-color: $sidebar-bg;
}

#side-menu > li:first-child {
  margin-top: 10px;
}

// 手機尺寸時的側欄和動畫
// TODO menu 拿掉粗體
@include screen-small-then(md) {
  .sidebar {
    width: 100%;
    max-width: 100%;
    position: static;
    min-height: unset;
    transition: none;
  }
  .collapsing {
    transition: none;
  }
  #side-menu {
    width: 100%;
  }
  //content-wrapper間隙縮小
  .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  //按鈕的container間隙縮小
  .row .action-container {
    margin: 0px -20px;
    padding: 15px 35px;
  }
  .in ~ .content-wrapper {
    margin-left: 0;
  }
  .collapsing {
    height: 0;
  }
}
