$table-text-align: left;
$table-vertical-align: middle !important;
$table-cell-min-width: 60px;
$table-cell-small-width: 90px;
$table-cell-medium-width: 120px;
$table-cell-large-width: 180px;
$table-cell-extra-large-width: 240px;
$table-cell-period-width: 210px;

.table-wrapper{
  width: 100%;
  overflow-x: auto;
  .table-fixed-column{
    position: relative;
    background-color: $sidebar-second-active-bg !important;
  }
}
// table 分頁靠右
.table-pagination {
  float: right;
}
.table {
  width: 100%;
  border: 1px solid $table-border-color;
  margin-bottom: 10PX;
  th {
    background-color: $table-header-bg-color;
    border-bottom: 3px solid $table-item-border-color !important;
    border-right: 1px solid $table-item-border-color;
    color: $table-header-color;
    font-size: 13px;
    font-weight: bold;
    text-align: $table-text-align;
    vertical-align: $table-vertical-align;
    padding-left: 16px !important;
    min-width: $table-cell-min-width;
    white-space: normal;
    word-break: break-word;
    > br{
      height: 8px;
      display: block;
      content: "";
    }
  }
  th.small-cell{
    width: $table-cell-small-width;
  }
  th.medium-cell{
    width: $table-cell-medium-width;
  }
  th.large-cell{
    width: $table-cell-large-width;
  }
  td {
    padding-right: 16px !important;
  }
  tr:nth-child(odd) > td {
    background-color: $tr-odd-bg-color;
  }
  tr:nth-child(even) > td {
    background-color: $white;
  }
  td {
    border-right: 1px solid $table-border-color;
    color: $text-dark-color;
    font-size: 14px;
    text-align: $table-text-align;
    vertical-align: $table-vertical-align;
    line-height: 20px !important;
    padding-left: 16px !important;
  }
  .action-item {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 4px;
    }
    &:first-child {
      margin-top: 4px;
    }
  }
  .action-text {
    margin-top: 12px;
  }
  //小計
  .sum{
    tr:nth-child(even) td,tr:nth-child(odd) td{
      background-color: $white;
      font-weight: bold;
    }
  }
}
// 有主單子單的表格
.table.order-table{
  min-width: 100%;
  th{
    font-size: 13px;
  }
  tr:nth-child(odd) > td {
    background-color: $white;
  }
  tr:nth-child(even) > td {
    background-color: $white;
  }
  //主單 tr
  tr.master-id{
    cursor: pointer;
    &>td{
      background-color: $grouped-header-bg-color;
      color: $white;
      line-height: 24px !important;
    }
    // 主單icon前的全選 checkbox
    .order-table-master-checkbox-label{
      margin-right: 0;
      padding-right: 0;
      padding-left: 10px;
    }
    .icon.icon-triangle{
      color: $white;
      display: inline-block;
      transform: scale(.6, .6) rotateZ(180deg);
    }
    &.close-group{
      .icon.icon-triangle{
        transform: scale(.6, .6);
      }
    }
    //出貨按鈕尺寸
    .k-button.btn-sub, .k-button.btn-sub-delete{
      height: 24px;
      line-height: 1em;
      font-size:13px;
      min-width: 90px;
      margin-left: 15px;
    }
  }
  // 主單裡的按鈕
  .action-in-cell{
    .k-button.btn-sub{
      font-size: 12px;
      min-width: 45px;
      line-height: 1em;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  //子單 tr
  tr.order-list{
    height: auto;
    .hide{
      height:0;
    }
    &>td{
      border-bottom: 1px solid $table-item-border-color;
      div{
        margin-bottom: 6px;
      }
    }
    .sale-id{
      display: inline-block;
      padding-top: 5px;
      margin-top: -5px;
    }
  }
}
// 表格要根據cell指定寬度延伸，而不是100%頁面寬度
.table.fixed-width-table{
  table-layout: fixed;
  width: auto;
  min-width: auto;
  float: left;
  th{
    width: $table-cell-min-width;
    min-width: $table-cell-min-width;
    max-width: $table-cell-min-width;
    line-height: 1.6em;
  }
  th.small-cell{
    width: $table-cell-small-width;
    min-width: $table-cell-small-width;
    max-width: $table-cell-small-width;
  }
  th.medium-cell{
    width: $table-cell-medium-width;
    min-width: $table-cell-medium-width;
    max-width: $table-cell-medium-width;
  }
  th.large-cell{
    width: $table-cell-large-width;
    min-width: $table-cell-large-width;
    max-width: $table-cell-large-width;
  }
  th.extra-large-cell{
    width: $table-cell-extra-large-width;
    min-width: $table-cell-extra-large-width;
    max-width: $table-cell-extra-large-width;
  }
  th.period-cell{
    width: $table-cell-period-width;
    min-width: $table-cell-period-width;
    max-width: $table-cell-period-width;
  }
}

.search-result-content {
  .action-left {
    float: left;
    margin-top: 20px;
  }
}

.st-sort,.st-sort-number {
  &:before {
    content: "";
  }
  &:after {
    content: "\f0dc";
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 5px;
  }
}
// 表格裡的 p margin上下都要加，才會垂直置中
.table p {
  margin: 10px 0;
}
.st-sort.st-sort-ascent:after {
  content: "\f0de";
}
.st-sort.st-sort-descent:after {
  content: "\f0dd";
}
.st-sort-number.st-sort-ascent:after {
  content: "\f162";
}
.st-sort-number.st-sort-descent:after {
  content: "\f163";
}
