.nav-tabs {
  border-bottom: 1px solid $lighting-white;
  li {
    margin-bottom: 0;
    a {
      border-left: 1px solid !important;
      border-bottom-color: transparent !important;
      border-top: 1px solid $medium-white !important;
      color: $medium-black;
      font-size: 13px;
      font-weight: normal;
      box-shadow: $darker-white 3px 0 0 0;
      background-color: $deep-white;
      border-radius: 0;
      height: 34px;
      min-width: 100px;
      text-align: center;
      margin-right: 0;
      padding: 10px 30px 0 30px;
      &:first-child{
        border-left: 1px solid $medium-white !important;
      }
    }

    &.active {
      position: relative;
      &:after{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $white;
      }
      a {
        border-top: 3px solid $blue !important;
        border-left-color: $light-grey !important;
        color: $text-dark-color !important;
        font-size: 13px;
        font-weight: bold !important;
        box-shadow: none !important;
        padding: 6px 30px 0 30px
      }
    }
  }
}.tab-pane{
   padding: 40px 0;
 }
@include screen-is(sm){
  .nav-tabs li a, .nav-tabs li.active a{
    font-size: 12px;
    min-width: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}