.ns-toast {
    .modal-dialog {
        border: none;
        background-color: transparent;
        width: auto;
    }
    .modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
}

.modal .toast-body.modal-body {
    border: none;
    font-size: 18px;
    padding: 1em 1em 0.5em;
    box-shadow: 0 1px 2px 1px $notification-shadow-color;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.toast-message {
    color: $notification-color;
    font-size: 18px;
    width: 200px;
    min-height: 50px;
    display: flex;
    align-items: center;
    .text {
        flex-grow: 1;
        align-self: center;
        text-align: center;
    }
}

@include screen-is(sm) {
    //較大的modal在手機上的樣式
    .modal.ns-toast .modal-dialog {
        width: inherit;
        position: static;
        left: auto;
    }
}