.k-widget.k-tooltip {
  background-color: $tootip-background-color;
  color: $white;
  font-size: 13px;
  line-height: 20px;
  padding: 10px;
  text-align: left;

  .k-callout-s {
    border-top-color: $tootip-background-color;
  }
  .k-callout-n {
    border-bottom-color: $tootip-background-color;
  }
  .k-callout-e {
    border-left-color: $tootip-background-color;
  }
  .k-callout-w {
    border-right-color: $tootip-background-color;
  }
}

// // 為了讓 disabled button 能hover (ex. 顯示tooltip), 用css顯示 disabled state, 但是input 不設disabled attribute
// .k-button.btn-main-func.disabled, .k-button.btn-main.disabled {
//   &, &:hover {
//     background: $grey;
//     border-color: $grey;
//     color: $white;
//     cursor: default;
//   }
// }
