// 漢堡樣式
.navbar-default .navbar-toggle {
  margin: 0 16px 0 0;
  &, &:hover, &:focus{
    border: none;
    height: $top-bar-height;
    width: $top-bar-height;
    border-radius: 0;
    line-height: $top-bar-height;
  }
}
// OSM logo, plain words
.osm-logo-container{
  margin-left: 6px;
  line-height: $top-bar-height;
  font-size: 21px;
  letter-spacing: 1px;
}
.navbar-default .navbar-brand{
  &.osm-logo-container{
    &, &.hover,&:visited,&:focus{
      color: $system-logo-color;
    }
  }
}
//CRM logo, icon font
.crm-logo-container{
  $top-spacing: 4px;
  $height: $top-bar-height - $top-spacing;
  position: absolute;
  top: $top-spacing;
  margin-left: 5px;
  height: $height;
  line-height: $height;
  .icon-crm-logo-2nd{
    font-size: 13px;
  }
  &, &.hover,&:visited,&:focus{
    outline: none;
    .icon-crm-logo-2nd{
      color: $system-logo-color;
    }
  }
}
// 手機
@include screen-is(sm) {
  .navbar-top-links li:last-child {
    margin-right: 0;
  }
  .navbar-top-links{
    display: inline-block;
    float: right;
    &>li a{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .nav-shop-name{
    width: calc(100% - 210px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .navbar-default{
    border: none;
    line-height: 0;
    #side-menu a{
      line-height: 20px;
    }
  }

  .navbar-header{
    float: left;
    width: $top-bar-height;
    border-top: 1px solid $menu-brand-bg;
    border-bottom: 1px solid $menu-brand-bg;
  }
  .navbar-top-links .dropdown-messages {
    margin-left: -230px;
    &:before{
      right: 60px;
    }
  }
  .navbar-top-links .dropdown-user {
    right: 5px;
    &:before{
      right: 13px;
    }
  }
  .sidebar .nav.nav-second-level li a.active .item{
    font-weight: normal;
  }
}