
// topbar 基本樣式
.navbar-default{
  border: none;
  box-sizing: border-box;
  background-color: $topbar-bg-color;
  box-shadow: $topbar-shadow;
  padding: 0;
}
//頂部menu上方區塊 (含menu和logo)
.navbar-header{
  background-color: $menu-brand-bg;
}

// 漢堡樣式
.navbar-default .navbar-toggle {
  &, &:hover, &:focus{
    border: none;
    background-color: $menu-hamburger-bg;
    outline: none;
  }
  .icon-bar{
    color: $menu-icon-color;
    font-size: 18px;

  }
}
//91app logo
.navbar-brand{
  padding: 0;
  margin: 0;
  .icon{
    display: inline;
    transform: scale(1, 1);
  }
  .icon-logo-91app{
    color: $logo-color;
    font-size: $logo-font-size;
    height: $top-bar-height;
    line-height: $top-bar-height;
  }
}
// 系統logo
.system-logo{
  display:inline-block;
  color: $logo-system-color;
  font-size: 24px;
  height: $top-bar-height;
  line-height: $top-bar-height;
  padding-left: 10px;
}
// 商店名稱
.nav-shop-name{
  color: $white;
  font-size: 15px;
  display: inline-block;
  height: $top-bar-height;
  line-height: $top-bar-height;
  margin-left: 12px;
}
// 上方右側選項
.navbar-top-links {
  margin-right: 0;
  height: $top-bar-height;
  li{
    display: inline-block;
    &:last-child{
      margin-right: 15px;
    }
    a {
      padding-top: 0;
      padding-bottom: 0;
      height: $top-bar-height;
      line-height: $top-bar-height;
      color: $topbar-nav-color;
      box-sizing: border-box;
      border-bottom: 4px solid $topbar-bg-color;
      transition: all 0.2s ease;
      &:hover,&:focus{
        color: $white;
        background-color: $topbar-nav-hover-bg;
        border-bottom: 4px solid $topbar-nav-hover-border;
        transition: all 0.2s ease;
      }
      &:visited{
        color: $white;
        background-color: transparent;
      }
      display: block;
      position: relative;
      span{
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
        &.my-shop{
          padding-left: 10px;
        }
        &.message{
          padding-left: 15px;
        }
      }
      &.disabled{
        cursor: default;
        &:hover,&:focus{
          color: $white;
          background-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
  }
  .username{
    color: $topbar-color;
    font-size: 13px;
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;
  }
  .icon{
    color: $topbar-color;
    font-size: 18px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transform: translateY(-1px);
    //transform: scale(.8);
  }
  .icon.icon-notification-bell{
    &.has-message:after{
      content: "";
      position:absolute;
      right: -2px;
      top: -2px;
      width: 5px;
      height: 5px;
      background-color: $bell-message;
      //border: 1px solid $bell-message-border;
      border-radius: 50%;
    }
  }
  .icon.icon-arrow-down{
    font-size: 12px;
    @include transform(scale(.4, .4) translate(0, -8px));
    transition: all 0.3s ease-out;
  }
}
// 複寫 nav dropdown 樣式
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: transparent;
}
.nav.navbar-top-links .open > a, .nav.navbar-top-links .open > a:hover, .nav.navbar-top-links > .open a:focus{
  background-color: $topbar-nav-hover-bg;
  border-color: $topbar-nav-hover-bg;
  .icon.icon-arrow-down{
    font-size: 12px;
    @include transform(scale(.4, .4) translate(-3px, -8px) rotateZ(-180deg));
    transition: all 0.3s ease-out;
  }
}
.dropdown-menu{
  margin-top: -10px;
  &:before{
    content: "";
    position: absolute;
    top: -7px;
    right: 20px;
    border-bottom: 7px solid $white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  border: 0;
  .divider{
    color: $topbar-divider;
    margin: 10px 20px;
  }
}
.navbar-top-links .dropdown-messages{
  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 40px;
    line-height: 20px;
    color: $text-dark-color;
    cursor: pointer;
    border: none;
    padding: 0 !important;
    font-size: 13px;
    &:hover, &:visited{
      text-decoration:none;
      border:none;
      background-color: transparent;
    }
  }
  .date{
    color: $text-deep-color;
    margin-bottom: 5px;
    text-align: right;
  }
  .more {
    color: $link-blue;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    background-color: inherit;
    border-bottom: none;

    .icon-arrow {
      color: $link-blue;
      position: relative;
      top: -1px;
      font-size: 13px;
      padding: 0 3px;
    }
    &:hover, &:focus ,&:visited{
      color: $link-blue;
      border: none;
      background-color: transparent;
      outline: none;
    }
    &:hover{
      color: $link-hover-blue;
    }
  }
  .nodata {
    padding: 20px;
    i {
      font-size: 3em;
      color: $lighting-white;
      padding-bottom: 10px;
    }
    p{
      color: $text-deep-color;
      margin-bottom: 20px;
    }
    a {
      font-size: 13px;
    }

  }
  .block {
    margin: 15px;
    padding: 10px;
    background: $lightest-white;
    font-size: 12px;
    display: block;
    cursor: pointer;
  }
  h5{
    max-height: 2.3em;
    //height: 2.3em;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2em;
    font-size: 14px;
    color: $text-dark-color;
  }
  p{
    font-size: 13px;
    height: 1.2em;
    line-height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}


.navbar-top-links .dropdown-menu li {
  display: block;
  &:last-child {
    margin-right: 0;
  }
  a {
    padding: 3px 20px;
    min-height: 0;
    &:hover{
      color: $text-deep-color;
    }
    div {
      white-space: normal;
    }
  }
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
  li a{
    color: $text-dark-color;
    cursor: pointer;
    border: none;
    padding: 8px 20px;
    height: auto;
    line-height: 1.4;
    &:hover{
      border:none;
      background-color: transparent;
    }
    &.disabled{
      cursor: default;
      &:hover{
        color: $text-dark-color;
      }
    }
  }
}


