// 漢堡樣式
.navbar-default .navbar-toggle {
  margin-left: 15px;
  margin-right: 5px;
  padding-top: 15px;

  &, &:hover, &:focus{
    background-color: transparent;
  }
  .icon-bar + .icon-bar {
    margin-top: 6px;
  }
}
// 手機
@include screen-is(sm) {
  .navbar-top-links li:last-child {
    margin-right: 0;
  }
  .navbar-top-links{
    display: inline-block;
    float: right;
    &>li a{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .nav-shop-name{
    width: calc(100% - 220px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .navbar-default{
    border: none;
    line-height: 0;
    .navbar-toggle{
      &, &:hover, &:focus{
        margin-left: 5px;
      }
    }
    #side-menu a{
      line-height: 20px;
    }
  }

  .navbar-header{
    float: left;
    width: $top-bar-height;
    height: $top-bar-height;
    border-top: 1px solid $menu-brand-bg;
    border-bottom: 1px solid $menu-brand-bg;
  }
  .navbar-top-links .dropdown-messages {
    margin-left: -230px;
    &:before{
      right: 60px;
    }
  }
  .navbar-top-links .dropdown-user {
    right: 5px;
    &:before{
      right: 13px;
    }
  }
}
.navbar-static-top{
  z-index: 1000;
}