//大量上傳
.batch-upload {
    .upload-block {
        margin: 0px -15px;
        padding: 10px 40px 0 15px;
        display: flex;
        align-items: center;
        .msg {
            opacity: 0.5;
            font-size: 13px;
        }
        .item {
            padding: 0;
            list-style: none;
            line-height: 22px;
            margin: 0;
            color: #333;
        }
    }
    .upload-error-desc {
        line-height: 28px;
    }
    .download-link {
        display: inline-block;
    }
    .cell-center {
        text-align: center;
    }
}