.modal {
  .modal-header {
    &.no-title {
      border-bottom: 0;
      padding: 0;
    }
    .modal-title {
      color: #595959;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .modal-body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 150px;
    line-height: 22px;
    font-size: 14px;
    color: #8d8d8d;
  }
  .modal-footer {
    justify-content: center;
  }

  .modal-sm {
    max-width: 400px;
  }
}

