<div class="modal-header"
     [ngClass]="{'no-title':!title}">
    <h4 class="modal-title"
        *ngIf="title">{{title}}</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="activeModal.dismiss('cancel')"
            *ngIf="showCancelButton">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
            *ngIf="showCancel"
            (click)="activeModal.dismiss('cancel')">
        {{cancelMessage || '取消'}}
    </button>
    <button type="button" class="btn btn-primary"
            (click)="activeModal.close('ok')">
        {{acceptMessage || '確認'}}
    </button>
</div>