/* TODO icon需改成透過圖片產生 */
@font-face {
    font-family: 'icon91';
    src:  url('./fonts/icon91.eot?qo2egu');
    src:  url('./fonts/icon91.eot?qo2egu#iefix') format('embedded-opentype'),
    url('./fonts/icon91.ttf?qo2egu') format('truetype'),
    url('./fonts/icon91.woff?qo2egu') format('woff'),
    url('./fonts/icon91.svg?qo2egu#icon91') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon91' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-totop:before {
    content: "\e93a";
}
.icon-copy:before {
    content: "\e93b";
}
.icon-delete:before {
    content: "\e93c";
}
.icon-inventory:before {
    content: "\e93d";
}
.icon-infoModule:before {
    content: "\e939";
}
.icon-pencil:before {
    content: "\e936";
}
.icon-import:before {
    content: "\e937";
}
.icon-eye:before {
    content: "\e938";
}
.icon-crm-logo-2nd:before {
    content: "\e935";
}
.icon-double-arrow-down:before {
    content: "\e92e";
    color: #000;
}
.icon-refresh:before {
    content: "\e934";
}
.icon-shopping-cart:before {
    content: "\e933";
}
.icon-arrow-down:before {
    content: "\e92f";
}
.icon-circle-member:before {
    content: "\e930";
}
.icon-notification-bell:before {
    content: "\e931";
}
.icon-home-preview:before {
    content: "\e932";
}
.icon-arrow-right-small:before {
    content: "\e92d";
}
.icon-mobile:before {
    content: "\e922";
}
.icon-medal:before {
    content: "\e923";
}
.icon-member:before {
    content: "\e924";
}
.icon-shop2:before {
    content: "\e925";
}
.icon-computer:before {
    content: "\e926";
}
.icon-clipboard:before {
    content: "\e927";
}
.icon-dollar:before {
    content: "\e928";
}
.icon-nodata:before {
    content: "\e929";
}
.icon-nostorage:before {
    content: "\e92a";
}
.icon-order2:before {
    content: "\e92b";
}
.icon-storage:before {
    content: "\e92c";
}
.icon-pending:before {
    content: "\e921";
}
.icon-circle-pay:before {
    content: "\e91e";
}
.icon-history:before {
    content: "\e91f";
}
.icon-circle-question:before {
    content: "\e920";
}
.icon-members:before {
    content: "\e91c";
}
.icon-batch:before {
    content: "\e91d";
}
.icon-speaker:before {
    content: "\e91a";
}
.icon-check:before {
    content: "\e91b";
}
.icon-money:before {
    content: "\e919";
}
.icon-circle-video-play:before {
    content: "\e917";
}
.icon-ad-edit:before {
    content: "\e918";
}
.icon-logo-91app:before {
    content: "\e916";
}
.icon-bell:before {
    content: "\e900";
}
.icon-arrow:before {
    content: "\e901";
}
.icon-people:before {
    content: "\e902";
}
.icon-shop:before {
    content: "\e903";
}
.icon-circle-cancel:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}
.icon-circle-success:before {
    content: "\e906";
}
.icon-triangle-alert:before {
    content: "\e907";
}
.icon-account:before {
    content: "\e908";
}
.icon-activity:before {
    content: "\e909";
}
.icon-ad:before {
    content: "\e90a";
}
.icon-chart:before {
    content: "\e90b";
}
.icon-customer:before {
    content: "\e90c";
}
.icon-dashboard:before {
    content: "\e90d";
}
.icon-order:before {
    content: "\e90e";
}
.icon-product:before {
    content: "\e90f";
}
.icon-service:before {
    content: "\e910";
}
.icon-shop-options:before {
    content: "\e911";
}
.icon-triangle:before {
    content: "\e912";
}
.icon-cancel:before {
    content: "\e913";
}
.icon-upload-plus:before {
    content: "\e914";
}
.icon-payment:before {
    content: "\e915";
}
