<kendo-daterange>
    <kendo-dateinput kendoDateRangeStartInput
                     [(value)]="startDate"
                     [format]="'yyyy/MM/dd'"
                     placeholder=""></kendo-dateinput>
    <span class="link-line form-control-link-line">—</span>
    <kendo-dateinput kendoDateRangeEndInput
                     [(value)]="endDate"
                     [format]="'yyyy/MM/dd'"
                     placeholder=""></kendo-dateinput>
</kendo-daterange>