.notification-container {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  box-shadow: 0 1px 2px 1px #b2b2b2;
  background-color: rgba(0, 0, 0, .7);
  padding: 1em 1em;

  .k-notification-content {
    color: #BFBCBC;
    font-size: 18px;
    line-height: 1.5;
    white-space: unset;
  }
}
