@mixin screen-is($screenType) {
  @if $screenType == sm {
    @media only screen and (max-width: $sm - 1) {
      @content;
    }
  }
  @if $screenType == md {
    @media only screen and (min-width: $sm) and (max-width: $md - 1) {
      @content;
    }
  }
  @else if $screenType == lg {
    @media only screen and (min-width: $md) {
      @content;
    }
  }
  @else if $screenType == huge {
    @media only screen and (min-width: $lg) {
      @content;
    }
  }
}

//--
@mixin screen-large-then($screenType) {
  @if $screenType == sm {
    @media only screen and (min-width: $sm) {
      @content;
    }
  }
  @if $screenType == md {
    @media only screen and (min-width: $md) {
      @content;
    }
  }
}

//--
@mixin screen-small-then($screenType) {
  @if $screenType == md {
    @media only screen and (max-width: $sm - 1) {
      @content;
    }
  }
  @if $screenType == lg {
    @media only screen and (max-width: $md - 1) {
      @content;
    }
  }
}

@mixin screen-smaller-then($screen_width) {
  @media only screen and (max-width: $screen_width) {
    @content;
  }
}

@mixin hidden-outline {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
  margin: 0 !important;
  display: block;
}

@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hide-at-sm {
  display: none ; //硬設為important k
  @include screen-large-then(sm) {
    display: inherit;
  }
}

@mixin hide-at-md {
  display: none;
  @include screen-large-then(md) {
    display: inherit;
  }
}

@mixin show-at-sm {
  display: none !important;
  @include screen-is(sm) {
    display: block !important;
  }
}

@mixin hide-at-desktop {
  display: block;
  @include screen-is(lg) {
    display: none !important;
  }
}

@mixin hide-small-than-desktop {
  display: none;
  @include screen-large-then(lg) {
    display: block;
  }
}

@mixin show-at-desktop {
  display: none;
  @include screen-is(lg) {
    display: block;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin clearPlaceholder(){
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
}

@mixin animate($name, $time, $way){
  -webkit-animation: $name $time $way 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: $name $time $way 0s;
  -moz-animation-fill-mode: forwards;
  -ms-animation: $name $time $way 0s;
  -ms-animation-fill-mode: forwards;
  animation: $name $time $way 0s;
  animation-fill-mode: forwards;
}

@mixin displayFlexBox(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexFlow($way){
  -ms-flex-flow: $way;
  -webkit-flex-flow: $way;
  flex-flow: $way;
}

@mixin leftFlexBox(){
  -ms-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

@mixin centerFlexBox(){
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin middleFlexBox(){
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

@mixin endFlexBox(){
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

@mixin flex($size){
  -webkit-box-flex: $size;
  -ms-flex: $size;
  -webkit-flex: $size;
  flex: $size;
}

@mixin verticalAlignWrapper(){
  &:before{
    content: "";
    display: inline-block;;
    height: 100%;
    vertical-align: middle;
  }
}

@mixin verticalAlign($postion){
  display: inline-block;
  vertical-align: $postion;
}

///limitLineTitle 限制標題行數，超過則顯示“...”
/// @param $fontSize 字體大小
/// @param $limitLine 限制行數
@mixin limitLineTitle($fontSize, $limitLine, $lineHeight:$fontSize+1) {
  font-size: $fontSize;
  line-height: $lineHeight;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: $limitLine;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  height: $lineHeight*$limitLine;
}