/// 深灰
.text-dark {
  color: $text-dark-color;
}
/// 淺灰
.text-deep {
  color: $text-deep-color;
}
/// 標題灰
.title-text {
  color: $text-page-title-color;
}
/// 藍
.text-blue {
  color: $blue;
}
/// 紅
.text-red {
  color: $light-red;
}
/// 連結藍
.text-link-blue {
  color: $link-blue;
}
.text-disabled{
  color: $disabled-gray;
}