.hide-at-mobile, .hide-at-sm{
  @include screen-is(sm){
    display: none !important;
  }
}

.hide-at-pad, .hide-at-md{
  @include screen-is(md){
    display: none !important;
  }
}

.hide-at-desktop, .hide-at-lg{
  @include screen-is(lg){
    display: none !important;
  }
}

.show-at-mobile, .show-at-sm{
  display: none;
  @include screen-small-then(sm){
    display:block !important;
  }
}

.show-at-pad, .show-at-md{
  display: none;
  @include screen-small-then(md){
    display: inline !important;
  }
}


.align-left{
  text-align: left !important;
}
.align-right{
  text-align: right !important;
}
.align-center{
  text-align: center !important;
}

.cursor-pointer{
  cursor: pointer;
}
.cursor-not-allowed{
  cursor: not-allowed;
}
.display-inline-block{
  display: inline-block;
}
.display-block{
  display: block;
}
.logo-red{
  color: $logo-red-color;
}
.font-13{
  font-size: 13px;
}
.font-15{
  font-size: 15px;
}
.font-17{
  font-size: 17px;
}
.font-20{
  font-size: 20px;
}
.font-24{
  font-size: 24px;
}
.font-30{
  font-size: 30px;
}
.font-36{
  font-size: 36px;
}
.font-bold{
  font-weight: bold;
}
.font-normal{
  font-weight: normal;
}
.btn-height-26{
  height: 26px !important;
  padding: 0;
}
.btn-height-34{
  height: 34px !important;
}
.btn-height-40{
  height: 40px !important;
}
.inline-block{
  display: inline-block;
}
.responsive-inline-block{
  display: inline-block;
}
.width-half{
  width: 50%;
  box-sizing: border-box;
  padding-right: 5px;
}
.width-one-third{
  width: 32%;
  box-sizing: border-box;
  padding-right: 5px;
}
.width-quarter{
  width: 25%;
  box-sizing: border-box;
  padding-right: 5px;
}
.text-follow-input{
  width: auto;
  margin-top: 7px;
}
// input 和 下拉選單對齊
.form-control.width-200{
  width: 200px !important;
}
.line-height-1point2em{
  line-height: 1.2em;
}
// margin 5 - 50 以 5 為間隔
@for $i from 1 through 10 {
  .margin-top-#{$i*5}{
    margin-top: $i*(5px);
  }
  .margin-bottom-#{$i*5}{
    margin-bottom: $i*(5px);
  }
  .margin-left-#{$i*5}{
    margin-left: $i*(5px);
  }
  .margin-right-#{$i*5}{
    margin-right: $i*(5px);
  }
}
// padding 5 - 50 以 5 為間隔
@for $i from 1 through 10 {
  .padding-top-#{$i*5}{
    padding-top: $i*(5px);
  }
  .padding-bottom-#{$i*5}{
    padding-bottom: $i*(5px);
  }
  .padding-left-#{$i*5}{
    padding-left: $i*(5px);
  }
  .padding-right-#{$i*5}{
    padding-right: $i*(5px);
  }
}
.no-break{
  word-break: keep-all;
  white-space: nowrap;
}
.break-word{
  word-break: break-word !important;
}
.preserve-space{
  white-space: pre-wrap;
}
.margin-top-init {
  margin-top: 0 !important;
}

.margin-right-init {
  margin-right: 0 !important;
}

.margin-bottom-init {
  margin-bottom: 0 !important;
}

.margin-left-init {
  margin-left: 0 !important;
}

.padding-top-init {
  padding-top: 0 !important;
}

.padding-right-init {
  padding-right: 0 !important;
}

.padding-bottom-init {
  padding-bottom: 0 !important;
}

.padding-left-init {
  padding-left: 0 !important;
}

.margin-init {
  @extend .margin-top-init;
  @extend .margin-right-init;
  @extend .margin-bottom-init;
  @extend .margin-left-init;
}

.padding-init {
  @extend .padding-top-init;
  @extend .padding-right-init;
  @extend .padding-bottom-init;
  @extend .padding-left-init;
}

.all-init {
  @extend .margin-init;
  @extend .padding-init;
}
.over-hidden{
  overflow: hidden;
}
.scroll-x{
  overflow-x: auto;
}
.scroll-y{
  overflow-y: auto;
}
//align
.align-top{
  vertical-align: top;
}
.align-middle{
  vertical-align: middle;
}
.align-bottom{
  vertical-align: bottom;
}
// float utility class
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.float-none{
  float: none;
}
@include screen-is(sm){
  .responsive-inline-block{
    display: block;
  }
  .width-half{
    width: 100%;
  }
  .width-one-third{
    width: 100%;
  }
  .width-quarter{
    width: 100%;
  }
}
// 寬度 100 - 500 以 50 為間隔
@for $i from 2 through 10 {
  .width-#{$i*50}{
    width: $i*(50px);
  }
}
// 內容過多的多行...結尾
@for $i from 2 through 5 {
  .line-#{$i}-ellipsis{
    @include limitLineTitle(14px, $i);
  }
}
.line-1-ellipsis{
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.width-init {
  width: unset;
}
.height-100 {
  height: 100px;
}
.form-control.height-100 {
  height: 100px;
}
// 將垂直置中重置
.vertical-align-init {
  vertical-align: unset;
}
