.input-counter {
    width: 85%;
    display: inline-block;
}

.ns-char-count {
    color: $text-deep-color;
    font-size: 12px;
    &.input-on-limit {
        color: $blue;
    }
    &.input-unlimit {
        color: $blue;
    }
}