.fixedColumns{
  position:relative;
  box-shadow:inset 300px 500px 0 1000px #A8C6DA;
}
.staticColumns{
  position:static;
  box-shadow:none;
  left: 0;
}
.top-scrollbar{
  width: 100%;
  border: none 0 rgba(0, 0, 0, 0);
  overflow-x: auto;
  overflow-y: hidden;
  height: 20px;
  background-color: $white;
  margin-bottom: 0;
}
.top-scrollbar-spacing{
  height: 20px;
}
.scroll-content{
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  // position: relative;
}
.wrapper1{
  &.hide{
    display: none;
  }
}
.wrapper2{
  &.hide{
    display: none;
  }
}