   *[ns-fixed-content] {
       *[ns-fixed-action-header] {
           position: sticky;
           top: 0;
           z-index: 100;
           background-color: $white;
       }
       *[ns-fixed-content] {
           position: sticky;
       }
       .table-wrapper {
           overflow: unset;
       }
       .top-scrollbar {
           position: sticky;
           z-index: 101;
       }
       .header-fixed-container {
           z-index: 105;
           position: sticky;
           color: $table-header-color;
           font-size: 13px;
           font-weight: bold;
           border-top: 1px solid $table-border-color;
           border-left: 1px solid $table-border-color;
           border-bottom: 3px solid $table-border-color;
           box-sizing: border-box;
       }
       .fixed-div {
           display: inline-block;
           border-right: 1px solid $table-border-color;
           border-top: 1px solid $table-border-color;
           border-bottom: 3px solid $table-border-color;
           background-color: $table-header-bg-color;
           text-align: left;
           vertical-align: middle;
           padding: 8px;
           padding-left: 16px;
           white-space: normal;
           word-break: break-word;
       }
       .fixed-table-header-action {
           &.fixed {
               background-color: $table-header-bg-color;
               position: sticky;
               z-index: 110;
               padding: 8px;
               padding-left: 16px;
               margin-left: -16px;
               border-top: 1px solid $table-border-color;
               margin-top: -1px;
               width: calc(100% + 24px);
           }
           label {
               font-weight: bold;
           }
       }
   }
