.ns-upload {
  .upload-btn {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    border: 1px dashed $upload-btn-border-color;
    cursor: pointer;
    margin-right: 16px;
    float: left;
    padding-top: 10px;
    background-color: $upload-btn-bg-color;
    cursor: pointer;

    &:after {
      content: "+";
      color: #a0a0a0;
    }

    &:hover {
      background-color: $lightest-gray;
      transition: all 0.2s ease;
    }

    &.onDrag {
      border: 1px dashed #68b3f4;
      cursor: grabbing;
      &:after {
        color: $blue;
      }
    }

    &.full {
      background-color: #f6f6f6;
      border: none;
      color: #dadada;
    }
    .image-gallery {
      cursor: pointer;
    }
  }
  figure, .upload-file-count {
    display: inline-block;
  }
  .message {
    margin: 34px 0 10px 20px;
    color: $text-deep-color;
    font-size: 12px;
  }
  .review-image {
    width: 100px;
    img {
      max-width: 100%;
      box-shadow: #b1b1b1 0 1px 3px 0;
    }
  }
  .remove-btn {
    position: absolute;
    top: 3px;
    left: 83px;
    img {
      height: 15px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  // remove button icon 樣式
  .remove-btn .fa {
    color: $white;
    background-color: $link-blue;
    border: 2px solid $white;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 16px;
  }
  .image-item {
    position: relative;
  }
  // 有圖庫時
  .has-image-galley {
    .upload-btn, .upload-file-count {
      display: inline-block;
      vertical-align: middle;
    }

    .review-image {
      width: auto;
    }
    .message {
      margin: 0;
    }
    .image-upload-title {
      margin: 20px 0 0 0;
      font-size: 12px;
    }
    .image-item {
      display: inline-block;
    }
    .upload-btn {
      font-family: 'icon91' !important;
      position: relative;
      &:after {
        content: "\e914";
        font-size: 24px;
        color: $medium-gray;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -12px;
      }
      input{
        width: 100px;
      }
    }
  }
}

.mutilple-upload {
  figure, .upload-file-count {
    display: inherit !important;
  }
  .figure {
    margin-top: 10px;
    .image-list-container {
      display: inline-block;
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      position: relative;
      padding-right: 18px;
      padding-bottom: 12px;
    }
    .image-item {
      float: left;
      margin-top: 12px;
      position: relative;
      display: flex;
    }
    .review-image {
      margin: 0;
      display: inline-block;
      &[sv-handle] {
        cursor: grab !important;
      }
      img {
        object-fit: contain;
        width: 100px;
        height: 100px;
      }
    }
    .selected-image {
      border: 3px solid $link-blue;
      //border-radius: 4px;
      //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: none;
    }
    .remove-btn {
      position: relative;
      left: 94px;
      top: 6px;
      height: 20px;
    }
  }
}