.color-combinations{
  max-width: 470px;

  &.middle{
    line-height: 45px;
  }
}

.color-combination {
  width: 40px;
  height: 20px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 30px;
  text-indent: -99999px;

  &.selected{
    box-shadow: 0 0 0 2px $link-blue;
  }

  &.combo {
    &:before, &:after {
      content: "";
      float: left;
      width: 50%;
      height: inherit;
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
    }
  }
  &.black {
    @extend .combo;
    &:before {
      border-color: $shop-color-black;
      background-color: $shop-color-black;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.blue {
    @extend .combo;
    &:before {
      border-color: $shop-color-blue;
      background-color: $shop-color-blue;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.cyan {
    @extend .combo;
    &:before {
      border-color: $shop-color-cyan;
      background-color: $shop-color-cyan;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.green {
    @extend .combo;
    &:before {
      border-color: $shop-color-green;
      background-color: $shop-color-green;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.grey {
    @extend .combo;
    &:before {
      border-color: $shop-color-grey;
      background-color: $shop-color-light;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: #4E5051;
    }
  }
  &.light {
    @extend .combo;
    &:before {
      border-color: $shop-color-red;
      background-color: $shop-color-red;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.orange {
    @extend .combo;
    &:before {
      border-color: $shop-color-orange;
      background-color: $shop-color-orange;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.peach {
    @extend .combo;
    &:before {
      border-color: $shop-color-peach;
      background-color: $shop-color-peach;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.pink {
    @extend .combo;
    &:before {
      border-color: $shop-color-pink;
      background-color: $shop-color-pink;
    }
    &:after {
      border-color: $shop-color-grey;
      background-color: $shop-color-white;
    }
  }
  &.purple {
    @extend .combo;
    &:before {
      border-color: $shop-color-grey;
      background-color: $shop-color-light;
    }
    &:after {
      border-color: $shop-color-purple;
      background-color: $shop-color-purple;
    }
  }
  &.red {
    @extend .combo;
    &:before {
      border-color: $shop-color-grey;
      background-color: $shop-color-light;
    }
    &:after {
      border-color: $shop-color-red;
      background-color: $shop-color-red;
    }
  }
}