$multiSelect-border: 1px solid #c5c5c5;
$multiSelect-background-color: #f3f3f3;
.ns-two-side-multiple-select {
    .filter {
        background-color: transparent;
        width: 100%;
    }
    .block {
        margin-right: 20px;
        float: left;
        width: 250px;
        border: $multiSelect-border;
        border-radius: 5px;
        overflow: hidden;
        &.buttons {
            width: 82px;
        }
    }
    .center {
        width: 70px;
        float: left;
        margin-top: 120px;
    }
    .select-title {
        padding: 10px;
        border-bottom: $multiSelect-border;
        background-color: $multiSelect-background-color;
    }
    .select-filter {
        padding: 10px;
        background-color: $multiSelect-background-color;
    }
    .select-item {
        border-radius: 4px;
        width: 100%;
        height: 200px;
        overflow: scroll;
        padding: 10px;
    }
    .selected-action {
        border-top: $multiSelect-border;
        padding: 10px;
        background-color: $multiSelect-background-color;
    }
    .text {
        clear: both;
        font-size: 11px;
    }
    .mover {
        display: block;
        width: 100%;
        text-align: center;
    }
    .k-checkbox-label {
        line-height: 1em;
    }
}