
.ns-pagination {
  display: inline-block;
  height: 34px;
  margin-top: 16px;
  margin-bottom: 16px;

  .pager-size-select {
    display: block;
    vertical-align: middle;
    float: left;
  }
  .page-size-text {
    line-height: 34px;
  }
  .page-count {
    padding-right: 0;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
    width: 55px;
    min-width: 50px;
  }

  .pager-list {
    display: block;
    vertical-align: middle;
    float: left;
    padding-left: 20px;
    .pagination {
      margin-top: 0;
      a {
        cursor: pointer;
      }
    }
  }

  .k-dropdown-wrap {
    padding-right: 5px;
    .k-select {
      padding: 0;
    }
    .k-input {
      padding: 0.375rem 0.65rem;
    }
  }
}

//分頁置中
.pagination-center {
  text-align: center;
  .ns-pagination {
    display: inline-block;
    float: none;
  }
}
