<div class="ns-pagination">
    <span class="pager-size-select">
        <span *ngIf="showNoCounts">顯示筆數:</span>
        <kendo-dropdownlist *ngIf="!fixedPageSize; else tmpFixedPageSize"
                            [data]="pageSizeOption"
                            [textField]="'size'"
                            [valueField]="'id'"
                            [valuePrimitive]="true"
                            [(ngModel)]="selectedPageSize"
                            (valueChange)="changePageSize()"
                            style="width: 60px"
                            name="selectedPageSize"></kendo-dropdownlist>
        <ng-template #tmpFixedPageSize class="page-size-text">{{pageSize}}</ng-template>/
        總共筆數: {{totalCount}}/
        <span *ngIf="showInput">
            前往頁數:
            <input type="number"
                   class="form-control page-count"
                   min="1"
                   step="1"
                   [(ngModel)]="pageInput"
                   (keypress)="changePageByInput($event)"/>
        </span>
        總共頁數: {{totalPageCount}}/
   </span>
    <div class="pager-list">
        <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [maxSize]="5" [pageSize]="pageSize"
                        (pageChange)="changePage()" aria-label="Default pagination">
            <ng-template ngbPaginationPrevious>
                <fa name="caret-left"></fa>
            </ng-template>
            <ng-template ngbPaginationNext>
                <fa name="caret-right"></fa>
            </ng-template>
        </ngb-pagination>
    </div>
</div>